body{
	padding: 0;
	margin: 0;
	background: #34495E;
	color: #000;
}


#conteiner{
	width: 1024px;
	margin: auto;
	padding-top: 5px;
}

.col_med, .col_med-left{
	width: 25%;
	min-height: 700px;
	float: left;
	border: 1px solid #000;
	background: #16A085;
	padding: 2px;
	margin-top: 10px;
}

.col_med-left{
	width: 20%;
	float: left;
}

#col_gran{
	width: 50%;
	min-height: 900px;
	float: left;
	background: #bbb;
	z-index: 1;
}

.box_tool{
	width: 90%;
	min-height: 150px;
	background: #fff;
	padding: 5px;
	margin-bottom: 2px;
	z-index: 999;
	background: #fff;
}


.box-imagem{
	width: 100px;
	border: 1px solid #bbb;
}



.draggable{ 
	width: 90%;
	max-width: 500px;
	min-height: 150px;
	padding: 0.5em; 
	float: left; 
	margin-bottom: 10px;
	background: #FFF;
	font-weight: bold;
}

#droppable { 
	width: 50%; 
	min-height: 900px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
	background: #fff; 
}

.drog-drap{
	width: 500px;
	background: red;
}

.lixeira {
	height: 200px;
	width: 98%;
    margin: 20px 0;
    background: #ddd;
    border: 2px dotted #999;
    text-align: center;
    line-height: 50px;
    color: #999;
    font-weight: 700;
    font-size: 18px;
    float: left;
}
.lixeira-ativa {
    border: 2px dotted red;  
}

.titulo, .subtitulo{
	font-size: 14px;
	font-style: italic;
	width: 80%;
	border: 0;
	margin-bottom: 10px;
}

.titulo{
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
	width: 95%;
}

.titulo, .subtitulo: input[type=text]{
	border: 0;
}


/*////// Segunda Sessão */
.bg-cor{
	width: 60px;
	height: 20px;
	font-size: 14px;
	font-weight: bolder;
	padding: 2px;
}

/*// Campos usados para Inserir imagens */

.imagem{
	min-width: 230px;
	min-height: 40px;
	max-height: 200px;
	position: relative;
	overflow: hidden;
	background: #FFF;
	margin: 5px 0;
}

.img img{
	width: 100%;
}

.imagem span{
	display: block;
	position: absolute;
}

.imagem input{
	position: absolute;
	right: 0;
	z-index: 2;
	font-size: 100px;
	opacity: 0;
	font-family: alpha(opacity=0);
}


.pre-imagem-prov{
	background-image: url("img/foto.png");
}

